.animalList {
  display: flex;
}

.sibling-fade {
  visibility: hidden;
  display: flex;
}

.sibling-fade > * {
  visibility: visible;
}

.sibling-fade > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.sibling-fade:hover > * {
  opacity: 0.4;
}

.sibling-fade > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

.scroll-container {
  margin: 0px;
  margin-top: 50px;
  top: 50%;
  left: 50%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .sibling-fade > * {
    visibility: visible;
  }

  .sibling-fade > * {
    transition: none;
  }

  .sibling-fade:hover > * {
    opacity: 1;
  }

  .sibling-fade > *:hover {
    opacity: 1;
  }
}
