.detailBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.detailBox-main {
  overflow: auto;
  position: fixed;
  background: rgb(255, 255, 255, 0.8);
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

#map {
  margin: 20px;
  max-width: 220px;
}

.animalDetails {
  padding: 0px 15px 0px 15px;
}

.detailBox-main::-webkit-scrollbar {
  width: 1em;
  border-radius: 35px;
}

.detailBox-main::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: darkgrey;
}
