.detailBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.detailBox-main {
  position: fixed;
  background: rgb(255, 255, 255, 0.5);
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.animalName {
  text-transform: uppercase;
  font-weight: bold;
}

#map {
  margin: 20px;
  max-width: 220px;
}
