.rules {
  margin: 20px;
  color: rgb(230, 66, 66);
  font-size: 25px;
  text-shadow: 2px 2px 5px rgb(248, 241, 176);
}

p:hover {
  cursor: default;
}

.worldMap {
  margin: 20px;
  max-width: 220px;
}
.worldMap:hover {
  cursor: auto;
}

.part {
  padding: 0px 30px 0px 30px;
  color: black;
}

.rule-info {
  margin: 30px 0 30px;
}

.intro {
  margin: 20px 0px 60px 0px;
}

.info {
  margin: 0px;
}

.end {
  margin-top: 60px;
}

.about {
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 30px;
}

.rule-info-last {
  margin-bottom: 50px;
}

.about span {
  color: #b66b6b;
  font-weight: 700;
}

.github {
  color: #211f1f;
  transition: 0.3s;
  margin-top: 30px;
  margin-bottom: 80px;
}
.github:hover {
  color: #635d5d;
}

.tumblr {
  color: #34465d;
  transition: 0.3s;
  margin-bottom: 80px;
}

.tumblr:hover {
  color: #536f94;
}

a {
  margin: 20px;
  font-size: 1.5rem;
}
