.passengerPigeon img {
  width: 100%;
  max-width: 160px;
  margin-top: 250px;
}
.passengerPigeon img:hover {
  cursor: pointer;
}

.seaMink img {
  width: 100%;
  max-width: 300px;
  margin-top: 200px;
}
.seaMink img:hover {
  cursor: pointer;
}

.tecopaPupfish img {
  width: 100%;
  max-width: 180px;
  margin-top: 100px;
}
.tecopaPupfish img:hover {
  cursor: pointer;
}

.dodo img {
  width: 100%;
  max-width: 180px;
  margin-top: 200px;
}
.dodo img:hover {
  cursor: pointer;
}
