img:hover {
  cursor: pointer;
}

img {
  margin-right: 100px;
  height: auto;
}

#reasonLogo {
  max-width: 80px;
  margin: 0px 5px 0px 5px;
}

#reasonLogo:hover {
  cursor: auto;
}

/*Media Queries*/

@media (max-width: 1400px) {
  img {
    max-width: 320px;
  }
}

@media (max-width: 1200px) {
  img {
    max-width: 280px;
  }
}

@media (max-width: 768px) {
  img {
    max-width: 275px;
  }
}

@media (max-width: 414px) {
  img {
    max-width: 265px;
  }
}

@media (min-height: 790px) {
  img {
    max-width: 390px;
  }
}
