.App {
  text-align: center;
  font-family: "Gamja Flower", cursive;
  font-size: larger;
  font-weight: bold;
}

body {
  background-image: url("/assets/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-size: cover;
}

p {
  margin: 0;
}
